<form class="" action="/pirates" method="post">
  <h2>Pirate Information</h2>

  <p>
    <label for="pirate_name">Name: </label>
    <input type="text" id="pirate_name" name="pirate[name]">
  </p>

  <p>
    <label for="pirate_weight">Weight: </label>
    <input type="text" id="pirate_weight" name="pirate[weight]">
  </p>

  <p>
    <label for="pirate_height">Height: </label>
    <input type="text" id="pirate_height" name="pirate[height]">
  </p>

  <h2>Ship #1 Information</h2>
  
  <p>
    <label for="ship_name">Name:</label>
    <input type="text" id="ship_name" name="ship[name]">
  </p>

  <p>
    <label for="ship_type">Type:</label>
    <input type="text" id="ship_type" name="ship[type]">
  </p>

  <p>
    <label for="ship_booty">Booty:</label>
    <input type="text" id="ship_booty" name="ship[booty]">
  </p>

  <h2>Ship #2 Information</h2>
  
  <p>
    <label for="ship_name">Name:</label>
    <input type="text" id="ship_name" name="ship[name]">
  </p>

  <p>
    <label for="ship_type">Type:</label>
    <input type="text" id="ship_type" name="ship[type]">
  </p>

  <p>
    <label for="ship_booty">Booty:</label>
    <input type="text" id="ship_booty" name="ship[booty]">
  </p>
  
  <input type="submit" name="" value="Submit">
</form>
